<div class="container">
    <div class="text-center">
        <h1 class="display-3">Welcome to ESO Helper</h1>
        <p>This is a mock build of the full ESO application, used by fire and EMS for gathering patient information during an incident. The purpose of this mock app is to test a more user friendly experience for the subject narrative that is required when
            creating this legally bound document. By giving the user access to pertinent information that they have already entered in the previous forms, it will ensure that they can make an effective and acurate narrative with more ease.</p>
        <!-- THE 1 IN ROUTER LINK IS ONLY A PLACEHOLDER FOR THE PATIENT ID THAT WILL BE PASSED THROUGH -->
        <button [routerLink]="['/incident/'+1]" class="btn btn-lg btn-primary">Start New</button>
    </div>
</div>
