<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<div class="row">
    <div class="col-2">
        <div id="forms" class="list-group">
            <a class="list-group-item list-group-item-action" href="#response">RESPONSE</a>
            <a class="list-group-item list-group-item-action" href="#scene">SCENE</a>
            <a class="list-group-item list-group-item-action" href="#personnel">PERSONNEL</a>
            <a class="list-group-item list-group-item-action" href="#disposition">DISPOSITION</a>
            <a class="list-group-item list-group-item-action" href="#destination">DESTINATION</a>
            <a class="list-group-item list-group-item-action" href="#times">TIMES</a>
            <a class="list-group-item list-group-item-action" href="#mileage">MILEAGE</a>
            <a class="list-group-item list-group-item-action" href="#additional">ADDITIONAL</a>
        </div>
    </div>
    <div class="col-10">
        <div data-spy="scroll" id="scroll" data-target="#forms" data-offset="0" class="scrollspy-example">
            <div class="header-bar">
                <h3 id="response">Response</h3>
            </div>
            <div class="form">
                <form action="">
                    <div class="form-group">
                        <small>Incident number</small>
                        <input type="text" class="form-control-plaintext">
                    </div>
                    <div class="form-group">
                        <small>Run Number</small>
                        <input type="text" class="form-control-plaintext">
                    </div>
                    <div class="form-group">
                        <small>Run Type</small>
                        <input type="text" class="form-control-plaintext">
                    </div>
                    <div class="form-group">
                        <small>Priority</small>
                        <input type="text" class="form-control-plaintext">
                    </div>
                    <div class="form-group">
                        <small>Shift</small>
                        <input type="text" class="form-control-plaintext">
                    </div>
                    <div class="form-group">
                        <small>Unit</small>
                        <input type="text" class="form-control-plaintext">
                    </div>
                    <div class="form-group">
                        <small>Vehicle</small>
                        <input type="text" class="form-control-plaintext">
                    </div>
                    <div class="form-grou">
                        <small>EMD Card Number</small>
                        <input type="text" class="form-control-plaintext">
                    </div>
                    <div class="form-group">
                        <small>Requested By</small>
                        <input type="text" class="form-control-plaintext">
                    </div>
                    <div class="text-center">
                        <input type="submit" class="btn btn-sm btn-primary" value="Next">
                    </div>
                </form>
            </div>
            <div class="header-bar">
                <h3 id="scene">Scene</h3>
            </div>
            <p>TO BE CONTINUED</p>
            <div class="header-bar">
                <h3 id="personnel">Personnel</h3>
            </div>
            <p>TO BE CONTINUED</p>
            <div class="header-bar">
                <h3 id="disposition">Disposition</h3>
            </div>
            <p>TO BE CONTINUED</p>
            <div class="header-bar">
                <h3 id="destination">Destination</h3>
            </div>
            <p>TO BE CONTINUED</p>
            <div class="header-bar">
                <h3 id="times">Times</h3>
            </div>
            <p>TO BE CONTINUED</p>
            <div class="header-bar">
                <h3 id="mileage">Mileage</h3>
            </div>
            <p>TO BE CONTINUED</p>
            <div class="header-bar">
                <h3 id="additional">Additional</h3>
            </div>
            <p>TO BE CONTINUED</p>
        </div>
    </div>
</div>
