<nav class="navbar navbar-expand-lg">
  <ul class="navbar-nav nav-fill w-100">
    <li class="nav-item">
      <label>INCIDENT</label>
    </li>
    <li class="nav-item">
      <label>PATIENT</label>
    </li>
    <li class="nav-item">
      <label>VITALS</label>
    </li>
    <li class="nav-item">
      <label>FLOWCHART</label>
    </li>
    <li class="nav-item">
      <label>ASSESSMENT</label>
    </li>
    <li class="nav-item">
      <label>NARRATIVE</label>
    </li>
  </ul>
</nav>



<router-outlet></router-outlet> 